@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200;300;400;500&family=Poppins:wght@300;400;500&family=Raleway:wght@300;400;500;600;700&family=Vina+Sans&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::selection {
  background: white;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2rem;
  width: 100%;
  /* font-family: 'Poppins', sans-serif; */
  padding-bottom: 10rem;
  /* background: url(https://i.pinimg.com/736x/c8/a2/44/c8a2440ea5389260074c3b46141e3afe.jpg) top no-repeat, linear-gradient(to top, #000f, #0000);
  background-size: 100%; */
}

a {
  color: inherit;
  text-decoration: none;
  font-style: inherit;
}

.heading {
  background: linear-gradient(to top, #000f, #000a 75%, #0000), url(https://i.pinimg.com/736x/c8/a2/44/c8a2440ea5389260074c3b46141e3afe.jpg) no-repeat top;
  background-size: 100%;
}

.title {
  /* font-family: 'Vina Sans', sans-serif; */
  font-family: 'Bebas Neue', sans-serif;
}

.credits {
  font-family: 'Bebas Neue', sans-serif;
}

.credits > a {
  color: #6a26cd;
}