@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --background-start-rgb: #000;
  --background-end-rgb: #000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* reset */
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: inherit;
}

/* selection styles */
*::selection {
  background: white;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2rem;
  width: 100%;
  padding-bottom: 6rem;
}


.heading {
  background: 
    linear-gradient(to top, #000f, #000a 75%, #0000), 
    url(https://i.pinimg.com/736x/c8/a2/44/c8a2440ea5389260074c3b46141e3afe.jpg) no-repeat top;
  background-size: 100%;
}